:root {
  /* Colors */
  --body-bg-color: #fff;
  --body-color: #000;
  --timer-color: #000;
  --timer-bg-color: #fff;
  --screen-color: ;
  --screen-bg-color: #BFC0C4A3;
  --timerlist-bg-color: #fcfcfc;
  --input-bg-color: #E9E9E9;

  --primary-color: #5B5EE3;
  --secondary-color: lightblue;
  --info-color: #E8E8E8;
  --danger-color: #CE2015;
  --white-color: #fff;
  --black-color: #000;

  /* Dark Color Variables */

  --body-bg-dkcolor: #312D2D;
  --body-dkcolor: #FAFAFA;
  --timer-dkcolor: #FAFAFA;
  --timer-bg-dkcolor: #312D2D;
  --screen-dkcolor: ;
  --screen-bg-dkcolor: #BFC0C4A3;
  --timerlist-bg-dkcolor: #484848;
  --input-bg-dkcolor: #E8E8E8;

  --primary-dkcolor: #6668E6;
  --secondary-dkcolor: #2124AE;
  --info-dkcolor: #908D8D;
  --danger-dkcolor: #FF4034;
  --white-color: #fff;
  --black-color: #000;
}

body {
  font-size: 12pt;
  height: 100vh;
}

hr {
  margin: 0;
  min-width: 70%
}

.details {
  display: grid;
  grid-column-gap: 5px;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "timerlist addtimer";
  justify-items: center;
  align-items: center;
}

.timer {
  position: relative;
  margin-top: 25px;
  padding-top: 5px;
  display: grid;
  grid-template-rows: 35% 50%;
  grid-row-gap: 15%;
  grid-template-areas: "display" "controls";
  justify-items: end;
  height: 75%;
  max-height: 550px;
  min-height: 250px;
  max-width: 500px;
}


.display {
  margin: auto;
  padding: 5px 15px;
  grid-area: display;
  justify-self: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
  margin: 5px auto 10px;
  width: 100%;
}

div.title p {
  display: inherit;
}

/* Input title */
input.title-input {
  text-align: center;
  width: 70%;
  outline: none;
  border: none;
}

.screen {
  text-align: center;
}

.screen .time {
  padding-top: 1rem;
  width: 100%;
}

.screen .time-unit {
  font-size: 2.5em;
  font-weight: 500;
  margin-inline: 2.5px;
}

.screen .time>div {
  display: inline-block;

}

.screen span.partials {
  font-size: 1.75em
}

.time>div>* {
  display: block
}

.additional-time {
  font-size: 1.25rem;
  margin-right: 20%;
  text-align: right;
}

.controls {
  width: 100%;
  margin: 50px auto;
  grid-area: controls;
  display: grid;
  grid-template-rows: 2fr 3fr;
  grid-template-columns: 1fr;
  grid-gap: 5px;
  grid-template-areas: "timing" "action";
  justify-items: center;
  align-items: center;
}

.controls>div.action {
  width: 75%;
  grid-area: action;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: space-between;
}

button {
  font-size: 1.25em;
  width: 35%;
  min-height: 50px;
  min-width: 70px;
  border: none;
  outline: none;
}

.max-button {
  width: 75% !important;
  font-size: 1.5em;
}

/* Input time */
.input-time-modal {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
}

.input-time {
  padding: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.input-time .input-item {
  text-align: center
}

.input-time .input-item>* {
  display: block;
}

.input-time input {
  font-size: 2.5em;
  margin: 0 0.25em;
  width: 1.2em;
  border: none;
  outline: none;
  text-align: center;
  font-weight: 400
}

/* Utility Classes */

.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden !important;
}

.rounded-corner {
  border-radius: 20px !important;
}

.timer-list:not(:empty) {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: scroll;
  width: 100%;
  padding: 5px;
  grid-area: timerlist;
}

.timer-list .timer-preview {
  height: 75%;
  padding: 5px 10px;
  margin: 2.5px 7.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.timer-preview .time {
  font-size: .75;
  margin: 0;
}

.add-timer {
  grid-area: addtimer;
  right: 7.5%;
  bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

@media (max-height: 200px) {
  body {
    font-size: 8pt;
  }

  .details {
    display: none;
  }
}

@media (max-width: 300px) {
  body {
    font-size: 8pt;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--body-bg-color, #fff);
  }

  .timer {
    background-color: var(--timer-bg-color, #f5f5f5);
    color: var(--timer-color, #000);
  }


  .display {
    background-color: var(--timer-bg-color, lightgray);
    box-shadow: 0 1px 1px 0 #00000055;
    color: var(--black-color, #000);
  }

  .title {
    background-color: var(--screen-bg-color, darkgray);
  }

  input.title-input {
    background-color: var(--input-bg-color, #E9E9E9);
  }

  button.start-pause[next="start"],
  button.start-pause[next="resume"],
  button.set-time {
    background-color: var(--primary-color, darkgray);
    color: var(--white-color, white);
  }

  button.start-pause[next="pause"] {
    background-color: var(--info-color, #E8E8E8);
    color: var(--black-color, black);
  }

  button.reset {
    background-color: var(--danger-color, darkred);
    color: var(--white-color, white);
  }

  button.increment,
  button.decrement {
    background-color: var(--secondary-color, lightgray);
    color: var(--black-color, #000);
  }

  .input-time-modal {
    background-color: var(--timer-bg-color, #fff);
  }

  .input-time {
    box-shadow: 0 1px 1px 0 #00000055;
  }

  .warning {
    color: var(--danger-color, red) !important;
  }

  .highlight {
    background-color: var(--input-bg-color, lightgray);
  }

  .timer-list .timer-preview {
    color: var(--body-color, #000);
    background-color: var(--white-color, #f5f5f5);
    box-shadow: 0 1px 1px 0 #00000025;
  }

  .add-timer {
    background-color: var(--input-bg-color, #e9e9e9);
    color: var(--primary-color, darkgray);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--body-bg-dkcolor, #fff);
  }

  .timer {
    background-color: var(--timer-bg-dkcolor, #f5f5f5);
    color: var(--timer-dkcolor, #000);
  }


  .display {
    background-color: var(--timer-bg-dkcolor, lightgray);
    box-shadow: 0 1px 1px 0 #ffffff55;
    color: var(--white-color, #000);
  }

  .title {
    background-color: var(--screen-bg-dkcolor, darkgray);
  }

  input.title-input {
    background-color: var(--input-bg-dkcolor, #E9E9E9);
  }

  button.start-pause[next="start"],
  button.start-pause[next="resume"],
  button.set-time {
    background-color: var(--primary-dkcolor, lightgray);
    color: var(--light-color, white);
  }

  button.start-pause[next="pause"] {
    background-color: var(--info-color, #E8E8E8);
    color: var(--black-color, black);
  }

  button.reset {
    background-color: var(--danger-dkcolor, darkred);
    color: var(--white-color, white);
  }

  button.increment,
  button.decrement {
    background-color: var(--secondary-dkcolor, lightgray);
    color: var(--black-color, #000);
  }

  .input-time-modal {
    background-color: var(--timer-bg-dkcolor, #fff);
  }

  .input-time {
    box-shadow: 0 1px 1px 0 #ffffff55;
  }

  .warning {
    color: var(--danger-dkcolor, red) !important;
  }

  .highlight {
    background-color: var(--input-bg-dkcolor, lightgray);
  }

  .timer-list .timer-preview {
    color: var(--body-dkcolor, #000);
    background-color: var(--screen-bg-dkcolor-color, #333);
    box-shadow: 0 1px 1px 0 #ffffff25;
  }

  .add-timer {
    background-color: var(--input-bg-dkcolor, #e9e9e9);
    color: var(--primary-dkcolor, lightgray);
  }
}